    <h3>Dodawanie użytkownika - formularz</h3>


    <form (ngSubmit)="onSubmit(imiePole.value, nazwiskoInput.value, miejscowoscPole.value)" #userForm="ngForm">

      <div class="form-group">
        <label for="imie">Imie</label>
        <input type="text" class="form-control" id="imie" required name="imiePole" ngModel #imiePole="ngModel">
        <div [hidden]="imiePole.valid || imiePole.pristine" class="alert alert-danger">Imie jest wymagane</div>
      </div>

      <div class="form-group">
        <label for="nazwisko">Nazwisko</label>
        <input type="text" class="form-control" id="nazwisko" required name="nazwiskoPole" ngModel #nazwiskoInput="ngModel">
        <div [hidden]="nazwiskoInput.valid || nazwiskoInput.pristine" class="alert alert-danger">Nazwisko jest wymagane</div>
      </div>

      <div class="form-group">
        <label for="miejscowosc">Miejscowosc</label>
        <input type="text" class="form-control" id="miejscowosc" name="miejscowosc" ngModel #miejscowoscPole="ngModel">
      </div> 

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

    </form>



<!--
Dodana kolejna linijka
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
Dodana linijka kodu

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="model.alterEgo" name="alterEgo">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="model.power" name="power"
                #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    </form>
  -->


